# Logs
*.log

#shared folder which is copied from node_modules
shared

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
errorShots
coverage
reports/*

# Editor files
.idea
.vscode
!.vscode/extensions.json
yarn.lock

#Apps

apps/App.app

#Creds

creds/bscreds.ts
creds/credentials.json

#Application

apps/App.app

.DS_Store
